[Unit]
Description=Node.js script for push notifications
[Service]
PIDFile=/tmp/cleanse-fcm-99.pid
User=<Your Username>
Group=<Your User Group>
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/<username>/cleanse-fcm/
ExecStart=/usr/bin/node /home/<username>/cleanse-fcm/app.js
[Install]
WantedBy=multi-user.target
